lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
/node_modules
/coverage
.idea
.nyc_output
npm-debug.log*
yarn-debug.log*
.eslintcache
.DS_Store
.vscode
scripts
src
tsconfig.json
rollup.config.js
rollup.dts.config.js
.parcel-cache